.card{
  width:457px;
  height: 440px;
  color: #fff;
  top:50%;
  left:50%;
  position: absolute;
  box-sizing: border-box;
  padding: 31px 40px;
  border: 1px solid black;
  transform: translate(-50%,-50%);
  background: black;
}
