<nav class="navbar navbar-light bg-primary">
  <div   class="container-fluid">
    <h2  class=" text-light primary py-3">STUDENT MANAGEMENT SYSTEM</h2>
    <div class="d-flex">
      <button class="btn btn-success" (click)="add()" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Student</button>&nbsp;
      <button  (click)="logout()" class="btn btn-warning">Logout</button>

    </div>
  </div>
</nav>
<!-- table -->
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">S.Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile NO</th>
      <th scope="col">City</th>
      <th scope="col">Action</th>
 </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allStudentData">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.mobile}}</td>
      <td>{{data.city}}</td>
      <td>
        <button class="btn btn-info" (click)="edit(data)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
        <button class="btn btn-danger" (click)="DeleteStudent(data)">Delete</button>

      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background:blue ; font-size: 26px;font-weight: 620;" class="modal-header">
        <h1 style="color:white ;margin-left: 90px;" class="modal-title fs-5" id="exampleModalLabel">STUDENT MANAGEMENT</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">

          <div  class="form-group">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="name" formControlName="name" class="form-control" id="exampleInputEmail1" placeholder="enter your Name" aria-describedby="emailHelp">
<small *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched" class="text-danger">Name is required</small>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="enter your Email" aria-describedby="emailHelp">
            <small *ngIf="formValue.get('email')?.invalid && formValue.get('email')?.touched" class="text-danger">Email is required</small>

          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Mobile No</label>
            <input type="number" formControlName="mobile" class="form-control" id="exampleInputEmail1" placeholder="enter your Mobile No" aria-describedby="emailHelp">
            <small *ngIf="formValue.get('mobile')?.invalid && formValue.get('mobile')?.touched" class="text-danger">Mobile No is required</small>

          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">City</label>
            <input type="text" formControlName="city" class="form-control" id="exampleInputEmail1" placeholder="enter your City" aria-describedby="emailHelp">
            <small *ngIf="formValue.get('city')?.invalid && formValue.get('city')?.touched" class="text-danger">City is required</small>

          </div>
          <br>

        </form>
      </div>
      <div style="background:blue ;" class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showadd" type="button" (click)="addStudent()" [disabled]="formValue.invalid" class="btn btn-success">Add</button>
        <button *ngIf="showupdate" type="button" (click)="update()" [disabled]="formValue.invalid" class="btn btn-success">Update</button>

      </div>
    </div>
  </div>
</div>
